.VeilStyle1 {
position: absolute;
top: 0px;
left: 0px;
cursor: "not-allowed";
background-color: white;
filter:alpha(opacity=50);
-moz-opacity:0.5;
opacity: 0.5;
}

.VeilStyle1b {
position: absolute;
top: 0px;
left: 0px;
cursor: "not-allowed";
background-color: #99ccff;
filter:alpha(opacity=50);
-moz-opacity:0.3;
opacity: 0.3;
}

.VeilStyle1c {
position: absolute;
top: 0px;
left: 0px;
cursor: "not-allowed";
background-color: #000000;
filter:alpha(opacity=20);
-moz-opacity:0.2;
opacity: 0.2;
}

.VeilStyle2 {
position: absolute;
top: 0px;
left: 0px;
cursor: "not-allowed";
background : url(maskimg_common.gif);
}

.VeilStyle2b {
position: absolute;
top: 0px;
left: 0px;
cursor: "not-allowed";
background : url(maskimg_common.gif);
filter:alpha(opacity=75);
-moz-opacity:0.75;
opacity: 0.75;
}

.VeilStyle2c {
position: absolute;
top: 0px;
left: 0px;
cursor: "not-allowed";
background : url(maskimg_common.gif);
filter:alpha(opacity=50);
-moz-opacity:0.5;
opacity:0.5;
}
