<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

   <!--
   ###########################################################################
      PROJECT DAOs.
   ###########################################################################
   -->
   <bean id="sampleDomainClassDao" class="com.focus.rclcustomer.core.dao.hibernate.SampleDomainClassDao">
      <property name="sessionFactory">
         <ref bean="rclSessionFactory"/>
      </property>
   </bean>

</beans>
