/**
 * Just some sample styles to make things look a bit nicer...
 *
 **/

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;
	margin: 15px;
	scrollbar-face-color: #999999;
	scrollbar-shadow-color: #999999;
	scrollbar-base-color: #cccccc;
	scrollbar-highlight-color: #999999;
	scrollbar-3dlight-color: #cccccc;
	scrollbar-darkshadow-color: #cccccc;
	scrollbar-track-color: #cccccc;
	scrollbar-arrow-color: #cccccc;


}

table,td {
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
}

a, a:visited, a:active
{
	color:blue;
	text-decoration:underline
}

a:hover {
	text-decoration:underline overline;
	background-color:yellow;
	font-weight:normal;
}


.exampleTitle {
	font-size:16pt;
	font-weight:bold;
	color:#000000;
}

.label {
   font-size: 11pt;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;

	color:#000000;
}

DIV.copyright{
   margin-top:15px;
   margin-bottom:10px;
   font-size: 11pt;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
}

