
div.rclPanel div.headerLeft
{
  background-image: url('header_left.gif');
  background-repeat: no-repeat;
  padding-left: 6px;
}
div.rclPanel div.headerMiddle
{
   color: white;
   height: 28px;
   background-image: url('header_middle.gif');
   background-repeat: repeat-x;
}
div.rclPanel div.headerRight
{
   background-image: url('header_right.gif');
   background-repeat: repeat-y;
   background-position: top right;
   padding-right: 17px;
}
div.rclPanel div.header
{
   color: white;
   font-weight: bold;
   padding-top: 6px;
}

div.rclPanel div.bodyLeft
{
   margin: 0px;
   background-image: url('content_left.gif');
   background-repeat: repeat-y;
   padding-left: 3px;
}

div.rclPanel div.bodyMiddle
{
   background-image: url('content_middle.gif');
   background-repeat: repeat-x;
   height: 1%;

   background-color: white;
   padding: 0px;
   margin: 0px;
}

div.rclPanel div.bodyRight
{
   * padding-bottom: 1px;
   margin: 0px;
   background-image: url('content_right.gif');
   background-repeat: repeat-y;
   background-position: right;
   padding-right: 14px;

}

div.rclPanel div.bodyMain
{
  padding-top: 1px;
  padding-bottom: 1px;

  padding-left: 5px;
  padding-right: 5px;
}

div.rclPanel div.footerLeft
{
  background-image: url('footer_left.gif');
  background-repeat: no-repeat;
   padding-left: 16px;
}
div.rclPanel div.footerMiddle
{
   background-image: url('footer_middle.gif');
   background-repeat: repeat-x;
   background-position: bottom;
   height: 19px;
   background-color: white;
}
div.rclPanel div.footerRight
{
   background-image: url('footer_right.gif');
   background-repeat: no-repeat;
   background-position: top right;
   padding-right: 18px;
}
