


/********************************
*  Licensed Materials - Property of IBM
*    
*  IBM Cognos Products: cogadmin
*   
*  (C) Copyright IBM Corp. 2005, 2013
*  
*  US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.  
********************************/
.popup-tooltip-label {
	font-weight: bold;
	font-size: 8pt;
	color: #31659C;
}
popup-tooltip-a {
	font-family: Tahoma;
	font-size: 70%;
	color: #0000cc;
	text-decoration: underline;
}
a.popup-tooltip-a {
	text-decoration: underline;
}
.popup-tooltip {
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	border: solid 1px black;
	background-color: #EFF3F7;
	margin: 0px;
	padding: 0px;
}
.button {
	border: #cccccc 1px solid;
	background-color: #ffffff;
}
.button_hover {
	border: #99aacc 1px solid;
	background-color: #bec8dc;
}
.button_pressed {
	border: #336699 1px solid;
	background-color: #bec8dc;
}
/* Command buttons (usually appear in dialog footers) */
.commandButton {
    	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #f3f3f3 0%, #cccccc 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#cccccc));
	background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #cccccc 100%);
	background-image: -o-linear-gradient(top, #f3f3f3 0%, #cccccc 100%);
	background-image: -ms-linear-gradient(top, #f3f3f3 0%, #cccccc 100%);
	background-image: linear-gradient(to bottom, #f3f3f3 0%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#cccccc',GradientType=0 );
	zoom: 1;
	border: #8d8d8d 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #000000;

    font-weight: normal;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.commandButtonOver {
    	background-color: #cccccc;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
	zoom: 1;
	border: #8d8d8d 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #000000;

    cursor: pointer;
    font-weight: normal;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.commandButtonDown {
    	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #efefef 0%, #f3f3f3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#f3f3f3));
	background-image: -webkit-linear-gradient(top, #efefef 0%, #f3f3f3 100%);
	background-image: -o-linear-gradient(top, #efefef 0%, #f3f3f3 100%);
	background-image: -ms-linear-gradient(top, #efefef 0%, #f3f3f3 100%);
	background-image: linear-gradient(to bottom, #efefef 0%, #f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#f3f3f3',GradientType=0 );
	zoom: 1;
	border: #8d8d8d 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #000000;

    cursor: pointer;
    font-weight: normal;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.commandButtonInactive {
    	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #f3f3f3 0%, #efefef 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#efefef));
	background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #efefef 100%);
	background-image: -o-linear-gradient(top, #f3f3f3 0%, #efefef 100%);
	background-image: -ms-linear-gradient(top, #f3f3f3 0%, #efefef 100%);
	background-image: linear-gradient(to bottom, #f3f3f3 0%, #efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#efefef',GradientType=0 );
	zoom: 1;
	border: #8d8d8d 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #767676;

    cursor: default;
    height: 100%;
    text-decoration: none;
    width: 100%;
    font-weight: normal;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.commandButtonActive {
    color: #000000;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    width: 100%;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.btnAnchor {
	color: #000000;
	text-decoration: none;
}
.cogstyle-fragmentHeader-main {
	padding-top: 0px;
	padding-right: 3px;
	padding-left: 3px;
	margin-bottom: 3px;
	width: 100%;
}
.cogstyle-fragmentHeader-title {
	height: 24px;
	font-size: 11px;
	padding-left: 10px;
	width: 100%;
	white-space: nowrap;
}
.cogstyle-fragmentHeader-titleText {
	font-weight: bold;
	color: #336699;
}
.cogstyle-toolbar-imageNormal {
	border: transparent 1px solid;
	color: #000000;
	padding: 2px;

	cursor: pointer;
}
.cogstyle-toolbar-imageOver {
	background-color: #f8f8f8;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
	zoom: 1;
	border: #8d8d8d 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #000000;
	padding: 2px;

	cursor: pointer;
}

.cogstyle-toolbar-imageOver:active {
	background-color: #e7e7e7;
	background-image: -moz-linear-gradient(top, #e7e7e7 0%, #cccccc 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#cccccc));
	background-image: -webkit-linear-gradient(top, #e7e7e7 0%, #cccccc 100%);
	background-image: -o-linear-gradient(top, #e7e7e7 0%, #cccccc 100%);
	background-image: -ms-linear-gradient(top, #e7e7e7 0%, #cccccc 100%);
	background-image: linear-gradient(to bottom, #e7e7e7 0%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#cccccc',GradientType=0 );
	zoom: 1;
	border: #8d8d8d 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #000000;
	padding: 2px;

	cursor: pointer;
}

.cogstyle-toolbar-imageOverPressed, .cogstyle-toolbar-imagePressed {
	background-color: #efefef;
	background-image: none, -moz-linear-gradient(top, #e7e7e7 0%, #cccccc 100%);
	background-image: none, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#cccccc));
	background-image: none, -webkit-linear-gradient(top, #e7e7e7 0%, #cccccc 100%);
	background-image: none, -o-linear-gradient(top, #e7e7e7 0%, #cccccc 100%);
	background-image: none, -ms-linear-gradient(top, #e7e7e7 0%, #cccccc 100%);
	background-image: none, linear-gradient(to bottom, #e7e7e7 0%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#cccccc',GradientType=0 );
	zoom: 1;
	border: #8d8d8d 1px dotted;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #000000;
	padding: 2px;

	cursor: pointer;
}
.cogstyle-breadcrumbs-main {
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
.cogstyle-breadcrumbs-pathLeafNode {
	font-weight: bold;
	color: #336699;
	white-space: nowrap;
}
.cogstyle-breadcrumbs-pathSeparator {
	color: #0000cc;
}
.cogstyle-breadcrumbs-pathLink {
	color: #0000cc;
	white-space: nowrap;
}
.cogstyle-table-paginations {
	float: right;
}
.cogstyle-table-text {
	color: #000000;
}
.cogstyle-table-empty {
	text-align: center;
	height: 40px;
}
.cogstyle-table-row-selected td {
    background-color: #e3e9f3;
    border-top: 1px solid #e3e9f3;
    border-bottom: 1px solid #e3e9f3;
}
.cogstyle-table-row-default {
	background-color: #ffffff;
    border-top: none;
    border-bottom: none;
}
.cogstyle-table-row-alternate {
	background-color: #e7e7e7;
}
tr.cogstyle-table-row-hilite td {
    background-color: #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
tr.cogstyle-table-row-hilite td.cogstyle-table-row-default {
    background-color: #ffffff;
    border-top: none;
    border-bottom: none;
}
tr.cogstyle-table-row-selected td.cogstyle-table-row-default {
    background-color: #ffffff;
    border-top: none;
    border-bottom: none;
}
.cogstyle-table-row-separator {
	border-bottom: #e7e7e7 1px solid;
}
.cogstyle-table-wrapper {
	background-color: #ffffff;
	overflow: auto;
}
.cogstyle-table {
	border: #444444 1px solid;
    border-collapse: collapse;
}
.cogstyle-table-header {
  border-bottom: 1px solid #444444;
  text-align: left;
}
.cogstyle-table-header tr {
    text-align: left;
    	background-color: #8d8d8d;
	background-image: -moz-linear-gradient(top, #8d8d8d 0%, #585858 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d8d8d), color-stop(100%,#585858));
	background-image: -webkit-linear-gradient(top, #8d8d8d 0%, #585858 100%);
	background-image: -o-linear-gradient(top, #8d8d8d 0%, #585858 100%);
	background-image: -ms-linear-gradient(top, #8d8d8d 0%, #585858 100%);
	background-image: linear-gradient(to bottom, #8d8d8d 0%, #585858 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#585858',GradientType=0 );
	zoom: 1;
	border-color: #444444;
	color: #ffffff;

}
.cogstyle-table-header td {
	padding: 2px;
	height: 25px;
	font-weight: bold;
	color: #ffffff;
	white-space: nowrap;
}
.cogstyle-table-header a {
	color: #ffffff;
	text-decoration: none;
}
.cogstyle-table-body {
	overflow: auto;
}
.cogstyle-table-body td {
	padding: 2px;
	color: #000000;
}
.cogstyle-table-footer {
	width: 100%;
}
.cogstyle-table-footer tr {
	background-color: #cccccc;
    border-top: 1px solid #444444; 
}
.cogstyle-table-footer td {
	color: #000000;
	font-size: 9px;
	padding: 2px 2px 4px;
}
.cogstyle-table-group {
	background-color: #e3e9f3;
}
.cogstyle-table-group-title {
	font-weight: bold;
	color: #000000;
}
.cogstyle-form-link {
	text-decoration: underline;
}
.cogstyle-form-label {
	font-weight: bold;
	color: #000000;
}
.cogstyle-form-text {
	color: #121212;
}
.cogstyle-filter-caption {
    	background-color: #8d8d8d;
	background-image: none, -moz-linear-gradient(top, #8d8d8d 0%, #444444 100%);
	background-image: none, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d8d8d), color-stop(100%,#444444));
	background-image: none, -webkit-linear-gradient(top, #8d8d8d 0%, #444444 100%);
	background-image: none, -o-linear-gradient(top, #8d8d8d 0%, #444444 100%);
	background-image: none, -ms-linear-gradient(top, #8d8d8d 0%, #444444 100%);
	background-image: none, linear-gradient(to bottom, #8d8d8d 0%, #444444 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#444444',GradientType=0 );
	zoom: 1;
	border: #444444 1px solid;
	color: #ffffff;

	padding: 5px;
    border-width: 0 0 1px 0;
    border-style: solid;
}
.cogstyle-filter-caption span {
	font-weight: bold;
}
.cogstyle-filter-body {
	padding: 5px;
	overflow: auto;
}
.cogstyle-filter-body hr {
	padding-bottom: 5px;
	border-color: #8d8d8d;
}
.cogstyle-filter-footer {
	text-align: center;
	padding: 3px;
	border-top: 1px solid;
	border-color: #8d8d8d;
	background-color: #e7e7e7;
}
.cogstyle-sectionpane {
	padding-left: 8px;
	padding-right: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	vertical-align: middle;
}
.cogstyle-sectionpane-title {
	font-weight: bold;
	color: #000000;
	padding-right: 5px;
}
.cogstyle-sectionpane-divider {
	width: 100%;
}
.cogstyle-sectionpane-divider-line {
	background-color: #cccccc;
	height: 1px;
	width: 100%;
}
.cogstyle-sectionpane-description {
	padding-left: 8px;
	padding-right: 10px;
	width: 100%;
	padding-bottom: 10px;
	vertical-align: top;
	color: #000000;
}
.cogstyle-sectionpane-content {
	padding-left: 8px;
	padding-right: 10px;
	width: 100%;
}
.hiddenEntryIcon {
	-moz-opacity: 0.4;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
