div.dateRangeWidget {
    display: block;
    clear: both;
    border: 1px solid #CCCCCC;
    margin: 2px;
    padding: 3px 0px 3px 0px;
    width: 700px;
    height: 195px;
}

div.dateRangeLabel {
    float: left;
    padding: 7px 10px 4px 7px;
    width: 75px;
}

div.dateRangeValuesDiv {
    float: left;
    display: inline;
    /*height:65px;*/
}

div.dateRangeWidget td.buttons {
    vertical-align: top;
    text-align: right;
    width: 30px;
    padding-top: 30px;
}

div.dateRangeWidget td.selectedValues {
    width: 250px;
    padding-top: 22px;
}

div.dateRangeWidget td.selectedValues select {
    width: 100%;
}