/* BEGIN OVERRIDES of other CSS defs */
#bodyDiv {
   border: 3px solid rgb(55,104,185);
   display:block;
   margin:0px 5px 0px 0px;

   height:100%;
   width:99%;
   overflow:hidden;

   -moz-user-select: none;
}


/* END OVERRIDES of other CSS defs */



/* See also browserHacks.css */
#IncidentGrid {
   min-width:1000px;
}



div.gridBody div.selected span.rerFailed {
   font-style:italic;
   color:white !important;
}



div.gridBody div.selected span.rerInProgress {
   font-style:italic;
   color:white !important;
}


div.gridBody div.selected span.rerFinished {
   font-style:normal;
   color:white !important;
}

#nextPrevButtons {
   text-align:right;
   padding-right:30px;
}

#nextPrevButtons  * {
   vertical-align:middle;
}

img.nextPrevButtons {
   cursor:pointer;
   margin:0px 0px 0px 0px;
   border:1px solid transparent;
}

img.nextPrevButtons:hover {
   border:1px solid #B2B7BE;
}

.nextPrevButtonsDisabled {
   cursor:pointer;
   filter:alpha(Opacity=40, FinishOpacity=50, Style=3, StartX=0, StartY=0, FinishX=16, FinishY=16), gray;
   /*display:none;*/
}

.pageNumber {
   vertical-align:text-top;

}
