


/********************************
*  Licensed Materials - Property of IBM
*    
*  IBM Cognos Products: cogadmin
*   
*  (C) Copyright IBM Corp. 2005, 2013
*  
*  US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.  
********************************/
.popup-tooltip-label {
	font-weight: bold;
	font-size: 8pt;
	color: #31659C;
}
popup-tooltip-a {
	font-family: Tahoma;
	font-size: 70%;
	color: #0000cc;
	text-decoration: underline;
}
a.popup-tooltip-a {
	text-decoration: underline;
}
.popup-tooltip {
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	border: solid 1px black;
	background-color: #EFF3F7;
	margin: 0px;
	padding: 0px;
}
.button {
	border: #cccccc 1px solid;
	background-color: #ffffff;
}
.button_hover {
	border: #99aacc 1px solid;
	background-color: #bec8dc;
}
.button_pressed {
	border: #336699 1px solid;
	background-color: #bec8dc;
}
/* Command buttons (usually appear in dialog footers) */
.commandButton {
    	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #cacaca 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#cacaca));
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #cacaca 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #cacaca 100%);
	background-image: -ms-linear-gradient(top, #f5f5f5 0%, #cacaca 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #cacaca 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#cacaca',GradientType=0 );
	zoom: 1;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #005e44;

    font-weight: normal;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.commandButtonOver {
    	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6));
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%);
	background-image: -ms-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 );
	zoom: 1;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #005e44;

    cursor: pointer;
    font-weight: normal;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.commandButtonDown {
    	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #e6e6e6 0%, #f5f5f5 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#f5f5f5));
	background-image: -webkit-linear-gradient(top, #e6e6e6 0%, #f5f5f5 100%);
	background-image: -o-linear-gradient(top, #e6e6e6 0%, #f5f5f5 100%);
	background-image: -ms-linear-gradient(top, #e6e6e6 0%, #f5f5f5 100%);
	background-image: linear-gradient(to bottom, #e6e6e6 0%, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f5f5f5',GradientType=0 );
	zoom: 1;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #005e44;

    cursor: pointer;
    font-weight: normal;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.commandButtonInactive {
    	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6));
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%);
	background-image: -ms-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 );
	zoom: 1;
	border: #cccccc 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #767676;

    cursor: default;
    height: 100%;
    text-decoration: none;
    width: 100%;
    font-weight: normal;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.commandButtonActive {
    color: #005e44;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    width: 100%;
    -moz-box-shadow:    0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    box-shadow:         0px 1px 1px rgba(0,0,0,0.5), inset 0px 0px 0px #FFFFFF;
    text-shadow:        0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px #FFFFFF;
}
.btnAnchor {
	color: #000000;
	text-decoration: none;
}
.cogstyle-fragmentHeader-main {
	padding-top: 0px;
	padding-right: 3px;
	padding-left: 3px;
	margin-bottom: 3px;
	width: 100%;
}
.cogstyle-fragmentHeader-title {
	height: 24px;
	font-size: 11px;
	padding-left: 10px;
	width: 100%;
	white-space: nowrap;
}
.cogstyle-fragmentHeader-titleText {
	font-weight: bold;
	color: #336699;
}
.cogstyle-toolbar-imageNormal {
	border: transparent 1px solid;
	color: #222222;
	padding: 2px;

	cursor: pointer;
}
.cogstyle-toolbar-imageOver {
	background-color: #e1ebf2;
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eff8eb 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eff8eb));
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eff8eb 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #eff8eb 100%);
	background-image: -ms-linear-gradient(top, #f5f5f5 0%, #eff8eb 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #eff8eb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eff8eb',GradientType=0 );
	zoom: 1;
	border: #b9b9b9 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #222222;
	padding: 2px;

	cursor: pointer;
}

.cogstyle-toolbar-imageOver:active {
	background-color: #e7f0e3;
	background-image: -moz-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7f0e3), color-stop(100%,#d9ebd0));
	background-image: -webkit-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: -o-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: -ms-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: linear-gradient(to bottom, #e7f0e3 0%, #d9ebd0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f0e3', endColorstr='#d9ebd0',GradientType=0 );
	zoom: 1;
	border: #b9b9b9 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #222222;
	padding: 2px;

	cursor: pointer;
}

.cogstyle-toolbar-imageOverPressed, .cogstyle-toolbar-imagePressed {
	background-color: #e7f0e3;
	background-image: none, -moz-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: none, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7f0e3), color-stop(100%,#d9ebd0));
	background-image: none, -webkit-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: none, -o-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: none, -ms-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: none, linear-gradient(to bottom, #e7f0e3 0%, #d9ebd0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f0e3', endColorstr='#d9ebd0',GradientType=0 );
	zoom: 1;
	border: #b9b9b9 1px dotted;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #222222;
	padding: 2px;

	cursor: pointer;
}
.cogstyle-breadcrumbs-main {
	vertical-align: middle;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
.cogstyle-breadcrumbs-pathLeafNode {
	font-weight: bold;
	color: #336699;
	white-space: nowrap;
}
.cogstyle-breadcrumbs-pathSeparator {
	color: #0000cc;
}
.cogstyle-breadcrumbs-pathLink {
	color: #0000cc;
	white-space: nowrap;
}
.cogstyle-table-paginations {
	float: right;
}
.cogstyle-table-text {
	color: #222222;
}
.cogstyle-table-empty {
	text-align: center;
	height: 40px;
}
.cogstyle-table-row-selected td {
    background-color: #e3e9f3;
    border-top: 1px solid #e3e9f3;
    border-bottom: 1px solid #e3e9f3;
}
.cogstyle-table-row-default {
	background-color: #ffffff;
    border-top: none;
    border-bottom: none;
}
.cogstyle-table-row-alternate {
	background-color: #f5f5f5;
}
tr.cogstyle-table-row-hilite td {
    background-color: #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
tr.cogstyle-table-row-hilite td.cogstyle-table-row-default {
    background-color: #ffffff;
    border-top: none;
    border-bottom: none;
}
tr.cogstyle-table-row-selected td.cogstyle-table-row-default {
    background-color: #ffffff;
    border-top: none;
    border-bottom: none;
}
.cogstyle-table-row-separator {
	border-bottom: #e7e7e7 1px solid;
}
.cogstyle-table-wrapper {
	background-color: #ffffff;
	overflow: auto;
}
.cogstyle-table {
	border: #b9b9b9 1px solid;
    border-collapse: collapse;
}
.cogstyle-table-header {
  border-bottom: 1px solid #b9b9b9;
  text-align: left;
}
.cogstyle-table-header tr {
    text-align: left;
    	background-color: #dddddd;
	background-image: -moz-linear-gradient(top, #dddddd 0%, #c6c6c6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#c6c6c6));
	background-image: -webkit-linear-gradient(top, #dddddd 0%, #c6c6c6 100%);
	background-image: -o-linear-gradient(top, #dddddd 0%, #c6c6c6 100%);
	background-image: -ms-linear-gradient(top, #dddddd 0%, #c6c6c6 100%);
	background-image: linear-gradient(to bottom, #dddddd 0%, #c6c6c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#c6c6c6',GradientType=0 );
	zoom: 1;
	border-color: #b9b9b9;
	color: #222222;

}
.cogstyle-table-header td {
	padding: 2px;
	height: 25px;
	font-weight: bold;
	color: #222222;
	white-space: nowrap;
}
.cogstyle-table-header a {
	color: #222222;
	text-decoration: none;
}
.cogstyle-table-body {
	overflow: auto;
}
.cogstyle-table-body td {
	padding: 2px;
	color: #222222;
}
.cogstyle-table-footer {
	width: 100%;
}
.cogstyle-table-footer tr {
	background-color: #dddddd;
    border-top: 1px solid #b9b9b9; 
}
.cogstyle-table-footer td {
	color: #222222;
	font-size: 9px;
	padding: 2px 2px 4px;
}
.cogstyle-table-group {
	background-color: #e3e9f3;
}
.cogstyle-table-group-title {
	font-weight: bold;
	color: #222222;
}
.cogstyle-form-link {
	text-decoration: underline;
}
.cogstyle-form-label {
	font-weight: bold;
	color: #385c4c;
}
.cogstyle-form-text {
	color: #222222;
}
.cogstyle-filter-caption {
    	background-color: #cccccc;
	background-image: none, -moz-linear-gradient(top, #eff8eb 0%, #d9ebd0 100%);
	background-image: none, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff8eb), color-stop(100%,#d9ebd0));
	background-image: none, -webkit-linear-gradient(top, #eff8eb 0%, #d9ebd0 100%);
	background-image: none, -o-linear-gradient(top, #eff8eb 0%, #d9ebd0 100%);
	background-image: none, -ms-linear-gradient(top, #eff8eb 0%, #d9ebd0 100%);
	background-image: none, linear-gradient(to bottom, #eff8eb 0%, #d9ebd0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff8eb', endColorstr='#d9ebd0',GradientType=0 );
	zoom: 1;
	border: #d9ebd0 1px solid;
	color: #005e44;

	padding: 5px;
    border-width: 0 0 1px 0;
    border-style: solid;
}
.cogstyle-filter-caption span {
	font-weight: bold;
}
.cogstyle-filter-body {
	padding: 5px;
	overflow: auto;
}
.cogstyle-filter-body hr {
	padding-bottom: 5px;
	border-color: ;
}
.cogstyle-filter-footer {
	text-align: center;
	padding: 3px;
	border-top: 1px solid;
	border-color: #9ec38d;
	background-color: #f5f5f5;
}
.cogstyle-sectionpane {
	padding-left: 8px;
	padding-right: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	vertical-align: middle;
}
.cogstyle-sectionpane-title {
	font-weight: bold;
	color: #385c4c;
	padding-right: 5px;
}
.cogstyle-sectionpane-divider {
	width: 100%;
}
.cogstyle-sectionpane-divider-line {
	background-color: #cccccc;
	height: 1px;
	width: 100%;
}
.cogstyle-sectionpane-description {
	padding-left: 8px;
	padding-right: 10px;
	width: 100%;
	padding-bottom: 10px;
	vertical-align: top;
	color: #385c4c;
}
.cogstyle-sectionpane-content {
	padding-left: 8px;
	padding-right: 10px;
	width: 100%;
}
.hiddenEntryIcon {
	-moz-opacity: 0.4;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
