/********************************************************************************************************************************
* Licensed Materials - Property of IBM                                                                                          *
*                                                                                                                               *
* IBM Cognos Products: UIPE                                                                                                     *
*                                                                                                                               *
* (C) Copyright IBM Corp. 2014                                                                                                  *
*                                                                                                                               *
* US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp. *
*********************************************************************************************************************************/
HTML,
BODY
{
	height: 100%;
	overflow: auto;
}

.uipeContent
{
	width: 100%;
	padding:15px;
}

.navTreeContainer
{
	border: #b9b9b9 1px solid;
	width: 300px; 
	height: 560px;
	overflow: auto;
}

.uipeRightPane
{
	width: 100%;
	padding-left: 16px; 
}

.uipeNavBarTable
{
	width: 100%;
}

.uipeTabBorder
{
	border-bottom: #b9b9b9 1px solid;
	padding: 0 1px;
}

.uipeHighlight,
TD.uipeDefaultSettingsHighlight,
TD INPUT.uipeDefaultSettingsHighlight
{
	font-weight: bolder;
	color: #0080b2;
}

.uipeDeckMain
{	
	height:360px; 
	width:300px; 
	margin-right: 16px; 
	overflow: auto;
	border: #b9b9b9 1px solid;
}

.uipeHeader
{
	background-image: none;
	background-image: none, -moz-linear-gradient(top, #008a52 0%, #005e44 100%);
	background-image: none, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008a52), color-stop(100%,#005e44));
	background-image: none, -webkit-linear-gradient(top, #008a52 0%, #005e44 100%);
	background-image: none, -o-linear-gradient(top, #008a52 0%, #005e44 100%);
	background-image: none, -ms-linear-gradient(top, #008a52 0%, #005e44 100%);
	background-image: none, linear-gradient(to bottom, #008a52 0%, #005e44 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a52', endColorstr='#005e44',GradientType=0 );
	zoom: 1;
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #d8dedc;
	height: 35px;
}

.uipeHeaderTitle
{
	color: #ffffff;
	font-weight: normal;
	font-size: 1em;
	font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
	text-align: left;
	white-space: nowrap;
	padding-left: 16px;
	width: 100%;
	vertical-align: middle;
}

.uipeHeaderLip 
{
	background-color: #008a52;
	clear: left;
	display: block;
	height: 4px;
	overflow: hidden;
}

.uipeNavBar
{
	background-color: #d9ebd0;
	background-image: none, -moz-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: none, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7f0e3), color-stop(100%,#d9ebd0));
	background-image: none, -webkit-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: none, -o-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: none, -ms-linear-gradient(top, #e7f0e3 0%, #d9ebd0 100%);
	background-image: none, linear-gradient(to bottom, #e7f0e3 0%, #d9ebd0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f0e3', endColorstr='#d9ebd0',GradientType=0 );
	zoom: 1;
	color: #005e44;
	font-size: 12px;
	font-weight: bold;
}

.clsTreeNode_selected 
{
    cursor: default;
    padding: 2px 5px 2px 5px !important;
    background-color: #008a52;
    border: 1px solid #9c93b8;
    color: #ffffff;
}

.clsTreeNode_hover 
{
    cursor: default;
    padding: 2px 5px 2px 5px !important;
    background-color: #d9ebd0;
    border: 1px solid #d9ebd0;
    color: #292929;
}

